

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 20%;
      max-height: 300px;
      margin: auto;
  }

div.b{
   background-color: #330072;
   color: white;
}


section{
 margin-top: 3%;
 background-color: inherit;
    margin-right: auto;
     margin-left: auto;
      width: 85%;
      height: 70px;
}

h2{
    color: white;
}

section.search{
    margin-top: -0.5px;
    background-color: white;
}


div{
    background-color:inherit; 
    color: white;
}

header.btm{
    margin-bottom: -3%;
}


img.logo{
    height: 70px;
    width: auto;
}
img.detail{
    width: 85%;
}

form.nav{
    margin-top: 5%;
}


.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

div.slideshow{
    padding: 1%;
    background-color:#B100A9;
}

div.nav{
   margin-top: 3%;
    margin-right: auto;
     margin-left: auto;
      width: 85%;
      height: 70px;
}

div.component{
   margin-top: 3%;
    margin-right: auto;
     margin-left: 50%;
      width: 85%;
}

div.decresetop{
   margin-top: -3%;
}

div.bgsearch{
    background-color: white;
}

div.searchlogo{
    background-color: #8A0084;
}

div.searchdetail{
    background-color: white;
    padding-left: 2%;
    margin-right: -10%;
}

div.detailleft{
   margin-top: 3%;
    margin-right: 50%
     margin-left: auto;
      width: 40%;
}

div.detailright{
   margin-top: 3%;
    margin-right: auto;
     margin-left: auto;
      width: 40%;
}

div.component{
   margin-top: 3%;
    margin-right: auto;
     margin-left: auto;
      width: 85%;
}


nav.nav{
    background-color:inherit; 
   margin-top: 5%;
    margin-right: auto;
     margin-left: auto;
      width: 85%;
      height: 70px;
}
